<blockquote class="blockquote" >
    <div class="form-group">
        <label>Valor total entregado por el grobierno.</label>
        <input class="form-control" type="text" [(ngModel)]="todos"readonly>
      </div>
    
    <form >
        <label>Personas ayudadas por el grobierno.</label>

        <table style="width:100%" class="table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Edad</th>
                <th>Sexo</th>
                <th>Departamento</th>
                <th>Ciudad</th>
                <th>Valor</th>
              </tr>
            </thead>
            <tbody id="tdPulsaciones" >
        
            </tbody>
              
          </table >
    </form>
</blockquote>
