<blockquote class="blockquote" >
    <input class="form-control" type="text" [(ngModel)]="todos"readonly>
    <form >
        

        <table style="width:100%" >
            <thead>
              <tr>
                <th>Id</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Edad</th>
                <th>Sexo</th>
                <th>Departamento</th>
                <th>Ciudad</th>
                <th>Valor</th>
              </tr>
            </thead>
            <tbody id="tdPulsaciones" >
        
            </tbody>
              
          </table >
    </form>
</blockquote>
